<a href="https://colab.research.google.com/github/arunillo/1-lab-pract/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print("ЧАСТЬ 1: ЗАГРУЗКА УЛИК И ПЕРВЫЙ ОСМОТР")
print("Первые 7 строк таблицы:")
print(df.head(7))
print("\nТехническая сводка о данных:")
print(df.info())
print("\nСтатистическая сводка:")
print(df.describe())

print("\nЧАСТЬ 2: ОЧИСТКА ДАННЫХ И ПОДГОТОВКА К АНАЛИЗУ")
median_age = df['Age'].median()
print(f"Медианный возраст: {median_age:.2f} лет")
df['Age'].fillna(median_age, inplace=True)
print(f"Пропуски в Age после заполнения: {df['Age'].isnull().sum()}")

def get_age_group(age):
    if age < 18:
        return "Ребенок"
    elif age <= 65:
        return "Взрослый"
    else:
        return "Пожилой"

df['AgeGroup'] = df['Age'].apply(get_age_group)
print("\nПроверка AgeGroup:")
print(df[['Age', 'AgeGroup']].head())

print("\nЧАСТЬ 3: ПОИСК ЗАКОНОМЕРНОСТЕЙ")
print("\n3.1 Анализ выживаемости по полу:")
survival_by_sex = df.groupby('Sex')['Survived'].mean() * 100
print(survival_by_sex)

print("\nАнализ выживаемости по классу:")
survival_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print(survival_by_class)

print("\nСводная таблица по полу и классу:")
pivot_table = df.pivot_table(values='Survived', index='Pclass', columns='Sex', aggfunc='mean') * 100
print(pivot_table)

print("\n3.2 Фильтрация и сортировка:")
minors_3rd_class = df[(df['Age'] < 18) & (df['Pclass'] == 3) & (df['Survived'] == 1)]
minors_sorted = minors_3rd_class[['Name', 'Age']].sort_values('Age', ascending=False)
print("Несовершеннолетние в 3 классе (выжившие):")
print(minors_sorted)

oldest_dead_man = df[(df['Sex'] == 'male') & (df['Survived'] == 0)].sort_values('Age', ascending=False).head(1)
print("\nСамый пожилой погибший мужчина:")
print(oldest_dead_man[['Name', 'Age', 'Pclass']].values)

print("\n3.3 Анализ влияния размера семьи:")
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)
survival_by_alone = df.groupby('IsAlone')['Survived'].mean() * 100
print("Выживаемость по одиночеству:")
print(survival_by_alone)

print("\nЧАСТЬ 4: ВЫВОДЫ")
print("\nВлияние пола на выживаемость:")
print(f"Женщины: {survival_by_sex['female']:.1f}%")
print(f"Мужчины: {survival_by_sex['male']:.1f}%")

print("\nВлияние класса на выживаемость:")
for pclass, rate in survival_by_class.items():
    print(f"Класс {pclass}: {rate:.1f}%")

print("\nАнализ правила 'женщины и дети в первую очередь':")
survival_by_age_group = df.groupby('AgeGroup')['Survived'].mean() * 100
print("\nВыживаемость по возрастным группам:")
print(survival_by_age_group)

women_children = df[(df['Sex'] == 'female') | (df['AgeGroup'] == 'Ребенок')]
others = df[(df['Sex'] == 'male') & (df['AgeGroup'] != 'Ребенок')]
wc_survival = women_children['Survived'].mean() * 100
others_survival = others['Survived'].mean() * 100

print(f"\nВыживаемость женщин и детей: {wc_survival:.1f}%")
print(f"Выживаемость взрослых мужчин: {others_survival:.1f}%")

print("\nДополнительная статистика:")
print(f"Всего пассажиров: {len(df)}")
print(f"Выжило: {df['Survived'].sum()} ({df['Survived'].mean()*100:.1f}%)")
print(f"Средний возраст: {df['Age'].mean():.1f} лет")
print(f"Медианная цена билета: {df['Fare'].median():.2f}")

ЧАСТЬ 1: ЗАГРУЗКА УЛИК И ПЕРВЫЙ ОСМОТР
Первые 7 строк таблицы:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S

Техническая сводка о данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Статистическая сводка:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

ЧАСТЬ 2: ОЧИСТКА ДАННЫХ И ПОДГОТОВКА К АНАЛИЗУ
Медианный возраст: 28.00 лет
Пропуски в Age после заполнения: 0

Проверка AgeGroup:
    Age  AgeGroup
0  22.0  Взрослый
1  38.0  Взрослый
2  26.0  Взрослый
3  35.0  Взрослый
4  35.0  Взрослый

ЧАСТЬ 3: ПОИСК ЗАКОНОМЕРНОСТЕЙ

3.1 Анализ выживаемости по полу:
Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

Анализ выживаемости по классу:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

Сводная таблица по полу и классу:
Sex        female       male
Pclass
1       96.808511  36.885246
2       92.105263  15.740741
3       50.000000  13.544669

3.2 Фильтрация и сортировка:
Несовершеннолетние в 3 классе (выжившие):
                                                Name    Age
68                   Andersson, Miss. Erna Alexandra  17.00
208                        Carr, Miss. Helen "Ellen"  16.00
220                   Sunderland, Mr. Victor Francis  16.00
156                 Gilnagh, Miss. Katherine "Katie"  16.00
22                       McGowan, Miss. Anna "Annie"  15.00
875                 Najib, Miss. Adele Kiamie "Jane"  15.00
830          Yasbeck, Mrs. Antoni (Selini Alexander)  15.00
39                       Nicola-Yarred, Miss. Jamila  14.00
780                             Ayoub, Miss. Banoura  13.00
125                     Nicola-Yarred, Master. Elias  12.00
489            Coutts, Master. Eden Leslie "Neville"   9.00
165  Goldsmith, Master. Frank John William "Frankie"   9.00
751                              Moor, Master. Meier   6.00
233                   Asplund, Miss. Lillian Gertrud   5.00
448                   Baclini, Miss. Marie Catherine   5.00
777                    Emanuel, Miss. Virginia Ethel   5.00
10                   Sandstrom, Miss. Marguerite Rut   4.00
869                  Johnson, Master. Harold Theodor   4.00
691                               Karun, Miss. Manca   4.00
184              Kink-Heilmann, Miss. Luise Gretchen   4.00
261                Asplund, Master. Edvin Rojj Felix   3.00
348           Coutts, Master. William Loch "William"   3.00
479                         Hirvonen, Miss. Hildur E   2.00
172                     Johnson, Miss. Eleanor Ileen   1.00
381                      Nakid, Miss. Maria ("Mary")   1.00
788                       Dean, Master. Bertram Vere   1.00
469                    Baclini, Miss. Helene Barbara   0.75
644                           Baclini, Miss. Eugenie   0.75
803                  Thomas, Master. Assad Alexander   0.42

Самый пожилой погибший мужчина:
[['Svensson, Mr. Johan' 74.0 3]]

3.3 Анализ влияния размера семьи:
Выживаемость по одиночеству:
IsAlone
0    50.564972
1    30.353818
Name: Survived, dtype: float64

ЧАСТЬ 4: ВЫВОДЫ

Влияние пола на выживаемость:
Женщины: 74.2%
Мужчины: 18.9%

Влияние класса на выживаемость:
Класс 1: 63.0%
Класс 2: 47.3%
Класс 3: 24.2%

Анализ правила 'женщины и дети в первую очередь':

Выживаемость по возрастным группам:
AgeGroup
Взрослый    36.363636
Пожилой     12.500000
Ребенок     53.982301
Name: Survived, dtype: float64

Выживаемость женщин и детей: 68.8%
Выживаемость взрослых мужчин: 16.6%

Дополнительная статистика:
Всего пассажиров: 891
Выжило: 342 (38.4%)
Средний возраст: 29.4 лет
Медианная цена билета: 14.45

/tmp/ipython-input-2400155756.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)